<%- include("./partials/navbar.ejs") %>
    <div class="note_title">
        <h1><%= Title %></h1>
    </div>
    <div class="note_content">
        <h4><%= content %></h4>
    </div>
<%- include("./partials/footer.ejs") %>
